{% extends 'main/base.html' %}
{% load static%}
{% block title %}{{'Главная страница'}}{% endblock %}

{% block content %}
<body1>
    <div class="maincontainer">
        <div class="leftbar">
        
        </div>
        <div class="container">
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'main/img/logo.jpg' %}" class="card-img-top" alt="logo">
                <div class="card-body">
                    <a href="{% url "goobs:product" %}">
                        <p class="card-title">Чашечка бодрящего кофе</span></p>
                    </a>
                    <p class="card-text">+10 к силе и мотивации</p>
                    <p class="product_id">id: 02265</p>
                    <div class="d-flex justify-content-between">
                        <p><s>100</s> $</p>
                        <p><strong>90.00 $</strong></p>
                        <span class="badge bg-warning text-dark">
                            <strong>Скидка 10.00 %</strong>
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body1>


{% endblock %}
